@font-face {
    font-family: 'Salome Deco';
    src: url('Salome-Deco.woff2') format('woff2'),
        url('Salome-Deco.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'salor';
    src: url('Salome-Italic_0_wt.woff2') format('woff2'),
        url('Salome-Italic_0_wt.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'salo';
    src: url('SalomeFine-Italic_0_wt.woff2') format('woff2'),
        url('SalomeFine-Italic_0_wt.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Salome Fine';
    src: url('Salome-Fine.woff2') format('woff2'),
        url('Salome-Fine.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Salome Stencil';
    src: url('SalomeStencil-Italic_0_wt.woff2') format('woff2'),
        url('SalomeStencil-Italic_0_wt.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Salome Stencil';
    src: url('Salome-Stencil.woff2') format('woff2'),
        url('Salome-Stencil.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Salome';
    src: url('Salome.woff2') format('woff2'),
        url('Salome.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

